# Ignorar tudo dentro de htdocs, exceto o index.php e .gitkeep
htdocs/*
!htdocs/index.php
!htdocs/.gitkeep

# Ignorar volumes de banco
db_data/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de IDE
.vscode/
.idea/
